body {
    /* background: linear-gradiemt(white, lightblue); */
    background: linear-gradient(lightblue, white, lightblue);
    min-height: 80vh;
}

#main,
main,
footer {
    padding: 25px;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    /* background: skyblue; */
    background: rgb(20, 120, 202);
    color: white;
    padding:10px;
    width: auto;
    
    /* display: inline-block; */
}

nav ul {
    display: flex; 
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    row-gap: inherit;
}

nav a {
    color: white;
}

nav a:visited{
    /* color:blue; */
    color: white;
}

nav a:hover {
    /* color: white; */
    color: black;
}

nav ul li.active {
    outline: 2px solid rgb(78, 178, 236);
}

.skip {
    position: absolute;
    left: -1000px;
    -webkit-transition: top 0.5s ease-out;
    transition: left s ease-out;
    z-index: 1;
}

#main {
    font-size: 45px;
}

p,
.container3 li {
    font-family: 'Space Mono', 'serif';
    font-size: 1.2em;
    margin: 10px;
}

h1{
    font-size: 2em; 
    font-weight: bold;
    margin: 10px;
}

.big_image img:hover{
    box-shadow: 1px 2px darkslategrey;
    filter: grayscale(1);
  }


/* Home */

.index {
    display: grid;
}

.big_image {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    width: 100%;
}

img.colorheadshot {
    width: 60%;
}

.container1 {
    grid-template-columns: 50px 1fr 50px;
    font-size: large;
    text-align: center;
    padding: 15px 30px 70px 30px;
}

.container1 p {
    grid-column: 1 / 4;
    width: 100%;
}

.main1 {
    padding-left: 20px;
    animation: typing 3s steps(20), blink 0.5s infinite step-end alternate;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.5em;
    width: 13ch;
}

h1#main.main1 {
    text-align: center;
    align-items: center;
    font-size: 2.5em;
}
    
@keyframes typing {
    from {
        width: 0
    }
}

.form2 {
    display: none;
}

/* Prefers Reduced Motion */
@media screen and (prefers-reduced-motion: reduce){
    .main1 {
        animation: none;
    }

    #future {
        animation: none;
    }

    .form {
        animation: none;
    }

    .flip-card {
        animation: none;
    }

    .parallax {
        background-attachment: scroll;
    }
}


/* About Me */
.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container2 img:hover {
    background-color:lightgrey;
}

.aboutme {
    text-align: center;
    background-image: url("../images/mobile-background.jpg");
    justify-content: center;
}

.home-life,
.passions,
.skills,
.future {
    margin: 5px;
    justify-content: left;
}

#future {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


/* My Experiences */

.container3 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.container3 img:hover {
    background-color:lightgrey;
}

.container3 img {
    align-items: stretch;
}

.container3 li {
    list-style-type: disc;
    position: relative;
    left: 30px;
}

.container3 p {
    position: relative;
    left: 20px;
}

.container3 h1 {
    font-size: 3.5vh;
}

/* Contact Me */

.container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


img#atdheadshot {
    text-align: center;
    justify-content: center;
    width: 60%;
}

.container4 img:hover {
    background-color:lightgrey;
}

.form {
    text-align: left;
    left: 45%;
    bottom: 20%;
    opacity: 0;
    animation: new-item-animation 3s linear forwards;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

/* FORM */


input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    border-radius: 25px;

  }

  #message {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    border-radius: 25px;
  }
  
  .form {
    font-family: 'Space Mono', 'serif';
  }

#form_title {
    padding: 30px 10px 10px 10px;
    font-size: 30px;
}

#message {
    align-items: center;
}

#submit {
    background-color: lightgrey;
    color: blue;
    font-family: 'Space Mono', 'serif';
    font-size: 20px;
}

input#submit {
    justify-items: center;
    align-items: center;
    text-align: center;
}

#submit:hover {
    background-color: darkslategray;
    color: white;
}

#submit:active {
  background-color: rgb(81, 97, 97);
  color: white;
  box-shadow: 0 5px white;
  transform: translateY(4px);
}

/* TABLET */

@media screen and (min-width: 720px){
    .skip:focus {
        left: 0px;
        top: 20px;
    }

    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
        width: auto;
        justify-items: center;
        justify-content: space-between;
    }

    nav ul {
        display: inline-block;
    }

    h1#main.main1 {
        font-size: 3.5em;
    }

    .container2 p {
        text-align: center;
    }

    .container3 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
        justify-content: center;
        text-align: center;
    }
    
    .container3 li {
        list-style-type: disc;
        justify-content: center;
        left: 30px;
        text-align: left;
    }

    .container3 img {
        text-align: center;
        padding-top: 30px;
    }
    
    #si106 {
        grid-column: 2;
    }

    #bhamlife {
        grid-column: 2;
    }

    #hershs {
        grid-column: 2;
    }

    #atd {
        grid-column: 2;
    }

    #reach {
        grid-column: 2;
    }

    #spoon {
        grid-column: 2;
    }

    .container2 {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .form2 {
        display: none;
    }
}


/* DESKTOP */

@media screen and (min-width: 1024px){
    nav {
        text-align: right;
    }

    nav li {
        display: inline-block;
        width: auto;
        justify-items: right;
    }

    nav ul {
        display: inline-block;
    }

    p,
    .container3 li,
    .form,
    #submit {
        font-family: 'Verdana', 'serif';
    }

    .skip {
        display: inline-block;
    }

    .skip:visited {
        color: blue;
    }

    img.colorheadshot {
        width: 25%;
    }

    img#colorheadshot {
        width: 25%;
    }

    .index {
        text-align: center;
    }

    .big_image {
        visibility: hidden;
    }

    /* PARALLAX */

    .parallax {
        /* The image used */
        background-image: url("../images/colorheadshot.jpg");
        /* background: linear-gradient(lightblue, white, lightblue); */
      
        /* Full height */
        height: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: 50% 10%;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .container1 p {
        background-color: rgb(194, 230, 241);
    }

    .aboutme img {
        width: 15%;
    }

    .aboutme {
        width: 100%;
    }

    .container2 {
        flex-direction: column;
    }

    .passions,
    .future {
        align-items: flex-end;
    }

    .container2 p {
        padding-left: 10px 150px 10px 150px;
    }
    
    .container2 h1 {
        padding-right: 20px;
    }

    .container2 img {
        text-align: center;
    }

    .home-life {
        text-align: left;
    }

    .passions {
        text-align: right;
    }

    .skills {
        text-align: left;
    }

    .future {
        text-align: right;
    }

    .container3 div img{
        background-image: url("../images/greyrectangle.png");
    }

     /* My Experiences */
     .container3 {
        display: grid;
        grid-template-columns: 1fr 10% 1fr;
        align-items: center;
    }
    
    .container3 img:hover {
        background-color:lightgrey;
    }
    
    .container3 img {
        align-items: stretch;
    }
    
    .container3 li {
        list-style-type: disc;
        position: relative;
        left: 30px;
    }
    
    .container3 p {
        position: relative;
        left: 20px;
    }
    
    .container3 h1 {
        font-size: 3.5vh;
    }

    .si106 {
        grid-area: 1 / 1 / 1 / 1;
        padding-left: 30px;
    }
    
    .bhamlife {
        grid-area: 1 / 3 / 1 / 3;
        padding-right: 30px;
    }
    
    .hershs {
        grid-area: 2 / 1 / 2 / 1;
        padding-left: 30px;
    }
    
    .atd {
        grid-area: 2 / 3 / 2 / 3;
        padding-right: 30px;
    }
    
    .reach {
        grid-area: 3 / 1 / 3 / 1;
        padding-left: 30px;
    }
    
    .spoon {
        grid-area: 3 / 3 / 3 / 3;
        padding-right: 30px;
    }
    
    .skills {
        grid-area: 4 / 1 / 4 / 1;
        padding-left: 30px;
    }
    
    .resume {
        grid-area: 4 / 3 / 4 / 3;
        padding-right: 30px;
    }
    
    #resumeicon {
        justify-items: left;
    }

    h1#main.main1 {
        font-size: 3.5em;
    }
    .flip-card {
        background-color: transparent;
        width: 400px;
        height: 600px;
        border: 1px solid #f1f1f1;
        perspective: 1000px;
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner, .flip-card:active {
        transform: rotateY(180deg);
      }

      .flip-card:focus-within .flip-card-inner,
      .flip-card:active .flip-card-inner,
      .flip-card:focus .flip-card-inner{
          transform: rotateY(180deg);
      }
      
      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: rgb(20, 120, 202);
        color: white;
        transform: rotateY(180deg);
        height: 650px;
      }

      #contact_foot {
          padding-top: 150px;
      }

      img#atdheadshot {
        width: 100%;
    }

      .form {
        text-align: center;
        justify-items: stretch;
        width: 400px;
        opacity: 0;
        animation: new-item-animation 3s linear forwards;
    }

    .container4 .contactimg {
        text-align: center;
    }

    @media screen and (prefers-reduced-motion: reduce){
        .form1 {
            animation: none;
            display: none;
        }

        .flip-card {
            animation: none;
        }

        #message2 {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box; 
            border-radius: 25px;
        }
              
        div.form2 {
            font-family: 'Space Mono', 'serif';
            display: flex;
            padding-top: 80px;
        }
    }

}